[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotframework = "*"

[dev-packages]
robotframework-tidy = "*"
robotframework-robocop = "*"

[requires]
python_version = "3.8"
